div#portal-top {
    background-image: url("++resource++cmrs.theme.images/bg_portal_top.gif");
}

div#portal-header {
    background-image: url("++resource++cmrs.theme.images/bg_portal_header.gif");
}

#portal-logo img {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.LSBox {
    background-image: url("++resource++cmrs.theme.images/searchbox.gif");
}

div.LSBox input#searchGadget {
    color: #000000;
}

div#cmrs-title {
    position: absolute;
    left: 100px;
    top: 30px;
}

div#cmrs-title h1 {
    color: #FFFFFF;
}

div#section-banner img {
    height: 180px;
    width: 930px;
}

#portal-column-two,
#portal-column-one {
    width: 225px;
}

.portlet {
    border: 1px solid #122C9D;
}

#portal-globalnav li a {
    color: #A0A0A0;
}

ul.navTreeLevel0 li.navTreeTopNode {
    background-color: #FFFFFF;
}

.portletItem ul.navTree li.navTreeTopNode a {
    color: #122C9D !important;
    padding: 11px 11px 2px !important;
}

ul.navTreeLevel0 li.navTreeItem.navTreeTopNode a:hover, dd.portletItem li.navTreeItem.navTreeTopNode a:hover {
    background-color: #FFFFFF;
}

.portletItem ul.navTree li.navTreeTopNode a.navTreeCurrentItem {
    color: #122C9D !important;
}

.portletNavigationTree {
    border-style: none;
}

.portletNavigationTree span {
    color: #122C9D;
}

.portletNavigationTree .portletItem {
    border-style: none;
}

.portletHeader,
.portletFooter
{
    background-color: #122C9D;
    color: white;
    text-transform: none;
}

.portletHeader a,
.portletFooter a
{
    color: white !important;
}

.portletItem {
    border: 1px solid #122C9D;
}

#portal-globalnav {
    background-color: transparent;
    margin: 10px;
}

#portal-globalnav li a {
    border-style: none;
}

#portal-globalnav li.selected a {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

#portal-globalnav li a:hover {
    color: #FFFFFF;
    border-right: none;
}

ul.navTree li.navTreeCurrentNode a.navTreeCurrentItem span {
    color: #000000 !important;
}

#portal-breadcrumbs a {
    color: #122C9D;
}

a,
a:visited,
#content li a,
#content li a:visited,
#content p a,
#content p a:visited {
    color: #122C9D;
}

a.state-published,
a.state-published:visited {
    color: #122C9D !important;
}

body.portaltype-homepage div#portal-breadcrumbs,
body.portaltype-plone-site div#portal-breadcrumbs {
    display: block;
}

.academic-list {
    padding-left: 45px;
}

div#portal-footer {
    background-color: #FFFFFF;
    border-top: none;
    border-bottom: 6px solid black;
    height: auto;
    padding: 0;
}

div#footer-links {
    position: relative;
    height: 20px;
    top: 0;
    left: 0;
    padding-top: 5px;
    padding-left: 361.441px;
    background-color: #EFEDE2;
}

.testimonial-list {
    margin-left: 74px;
}

.homepage#portal-column-one .visualPadding,
.homepage#portal-column-two .visualPadding {
    padding-top: 2em;
}
