div#portal-top {
    background-image: url("++resource++cmrs.theme.images/bg_portal_top.gif");
}

div#portal-header {
    background-image: url("++resource++cmrs.theme.images/bg_portal_header.gif");
}

.LSBox {
    background-image: url("++resource++cmrs.theme.images/searchbox.gif");
}

div.LSBox input#searchGadget {
    color: #000000;
}

div#cmrs-title {
    position: absolute;
    left: 100px;
    top: 30px;
}

div#cmrs-title h1 {
    color: #FFFFFF;
}

.portlet {
    border: 1px solid #3E5197;
}

.portletHeader,
.portletFooter
{
    background-color: #5675B0;
    color: white;
    text-transform: none;
}

.portletItem {
    border: 1px solid #3E5197;
}

